[mysqld]
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
character-set-server=utf8

# Settings for reducing memory usage
# see: mysqlがメモリを圧迫する場合には。 - ふじたの知見　エンジニア的な技術的なブログ (http://fujita222.hateblo.jp/entry/2015/03/12/175350)
table_definition_cache=400

# For averting an error of "ERROR 1071 (42000): Specified key was too long; max key length is 767 bytes"
# see: Yakst - innodb_large_prefixを使ってERROR 1071を回避する (http://yakst.com/ja/posts/734)
# see: MySQL - innodb_large_prefix - Qiita (http://qiita.com/k-kawa@github/items/49effa6b295d4c90fac0)
innodb_file_format = Barracuda
innodb_file_per_table = 1
innodb_large_prefix

[mysqldump]
default-character-set=utf8

[mysql]
default-character-set=utf8
